body{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    background-color: rgb(1, 9, 14);
    font-size: 150%;
    line-height: 1.5;
    padding: 10px;
}

h1, h2 {
    font-family: "Crimson Text", "Times New Roman", serif;
    color: rgb(238, 13, 13);
}

main h1{
    font-size: 80px;
    color: #FFF;
    background-color: #143d1a;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
}

main div{
  width: 720px;
  padding: 10px 0;
}

p{
    text-align: justify;
    margin: 10px 0;
    color: #FFF;
}

footer{
  color: #F2FFFC;
  background-color: #000;
}

nav a{
  color: #F2FFFC;
}

main a{
  color: #851944;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h2 {
  font-size: 20px;
  padding: 25px;
}

img.resize {
  max-width:50%;
  max-height:50%;
}

h1 {
  font-size: 30px;
  padding: 5px;
}